.rst-content dl.glossary dt {
    display: table;
    margin: 6px 0;
    font-size: 100%;
    line-height: normal;
    background: inherit;
    color: #000;
    border-top: solid 0px #000;
    padding: 0px;
    position: relative;
}

.rst-content dl.glossary dt:after {
    content: ":";
}

.rst-content dl.field-list dt {
    display: table;
    margin: 6px 0;
    font-size: 100%;
    line-height: normal;
    background: inherit;
    color: #000;
    border-top: solid 0px #000;
    padding: 0px;
    position: relative;
}

.rst-content dl.field-list dt:after {
    content: ":";
}
