{% extends 'base.html' %}

{% block title %}About YOVO{% endblock %}


{% block content %}
<div class="content">
  <div class="content-wrapper">
    <h1>What is YOVO</h1>
    <p>YOVO is decentralized, anonymous (and hopefully secured) voting system based on MultiParty Computation and Homomorphic Encryption. It is built on top of <a href="https://github.com/data61/MP-SPDZ">MP-SPDZ</a> and <a href="https://i2pd.readthedocs.io/en/latest/">i2pd</a>.</p>
    <p><strong>Important note</strong>: this school project is provided as a proof-of-concept. While it is theoretically resilient to a N-1 adversaries scenario, <strong>do not use it in production</strong>.</p>
    <p>You are currently viewing its web interface. For a more detailed description, check the README.rst inside the repository. Happy voting!</p>
  </div>
</div>

{% endblock %}
