{% extends 'base.html' %}

{% block title %}How to use YOVO{% endblock %}

{% block content %}
<div class="content">
  <div class="content-wrapper">
    <h1 id="how-to-use-yovo">How to use YOVO</h1>
    <p>This is a copy/paste from the yovo/web/USAGE.md file.</p>

    <h2 id="organisational-requirements">Organisational requirements</h2>
    <p>Before starting the vote's process, participants must agree on various informations:</p>
    <ul>
    <li>The candidates' list (in order);</li>
    <li>An unique ID for each participants;</li>
    <li>The starting date and hour of the vote.</li>
    </ul>
    <p>These have to be shared on a secured, trusted (but not provided by this project) communication channel. It will also be useful during the vote process later on.</p>
    <h2 id="user-modes">User modes</h2>
    <p>YOVO can be used in 3 ways:</p>
    <ul>
    <li>Via the web interface, step-by-step;</li>
    <li>Via the web interface, by importing a previous configuration;</li>
    <li>Via the CLI interface.</li>
    </ul>
    <p>While the two first points can be viewed as nominal cases, we felt the need to mention the last one as it allows to bypass the browser.</p>
    <h2 id="using-the-cli">Using the CLI</h2>
    <img src="./static/images/cli.png" alt="CLI for YOVO">
    <p>You can use YOVO through its Command Line Interface ; simply start the yovo/cli.py program and follow the instructions.</p>

    <h2 id="web-interface-an-introduction">Web interface: an introduction</h2>
    <p>As long as you want to use the web interface, you'll need to start the web server by using the <code>src/yovo/start.sh</code> script. By default, the API and web interface are available on <code>127.0.0.1:5000</code>.</p>
    <p>The web interface orchestrate the following API calls:</p>
    <ol>
    <li><code>/candidate/change</code></li>
    <li><code>/i2p/setup</code></li>
    <li><code>/i2p/tunnels</code></li>
    <li><code>/vote/start</code></li>
    <li><code>/vote/results</code></li>
    </ol>
    <p>It&#39;s made of various pages:</p>
    <ul>
    <li><em>Index</em>: the various forms to use YOVO;</li>
    <li><em>How to</em>: links to this file;</li>
    <li><em>About</em>: links to <code>about.md</code>.</li>
    </ul>
    <p>The index is sub-divided into multiple sections, available in the horizontal menu:</p>
    <ul>
    <li><em>Candidates</em>: describes the potential values of the vote;</li>
    <li><em>I2P &amp; friends</em>: accepts the local (server) and global (tunnels) I2P configuration;</li>
    <li><em>Casting the vote</em>: used to set the vote&#39;s value and the date/hour to start the vote;</li>
    <li><em>Results</em>: displays the vote&#39;s results when they are available;</li>
    <li><em>Manual configuration</em>: allows to import/export a vote configuration.</li>
    </ul>
    <h2 id="web-interface-a-step-by-step-guide">Web interface: a step-by-step guide</h2>
    <h3 id="adding-candidates">Adding candidates</h3>
    <p>Firstly, you need to add the candidates&#39; list used for the vote:</p>
    <img src="./static/images/add_candidate.png" alt="Candidates&#39; list">
    <img src="static/images/candidates_added.png" alt="Candidates added popup">
    <p>Note: you need to enter the candidates in the same order as everyone else to get similar final results.</p>
    <p>Here, we discover two important features of the web interface:</p>
    <ul>
    <li>Buttons without border represent direct actions on the web page whereas the ones with a white border corresponds to one or more calls to the API.</li>
    <li>Every API call goes with an information pop up based on the server&#39;s return&#39;s code and message. It enables you to go to the next section if everything went fine.</li>
    </ul>
    <h3 id="configuring-i2p">Configuring I2P</h3>
    <p>The anonymous network&#39;s configuration is a two steps process.</p>
    <p>First, a local server has to be set up based on your ID (determined beforehand with the rest of the participants) and an arbitrary port number.</p>
    <img src="./static/images/i2p_local_config.png" alt="Local I2P configuration">
    <p>To be taken into account, you need to restart the i2dp service.</p>
    <pre><code>systemctl <span class="hljs-built_in">restart</span> i2pd
    </code></pre><p>As the displayed message in the web interface implies, you can now get the local server address by check the i2pd&#39;s webconsole (by default available on <code>127.0.0.1:7070</code>), in the <code>I2P tunnels</code> section.</p>
    <img src="./static/images/i2p_local_red.png" alt="Getting the local server address in the webconsole">
    <p>This address has to be shared with the other vote&#39;s participants. While doing so, you need to retrieve theirs and add them in the second part of the web interface, along with their IDs. Once again, the <code>i2pd</code> service has to be restarted.</p>
    <img src="./static/images/i2p_global_tunnels_interface.png" alt="Adding the tunnels in the web interface">
    <p>A visit to the i2pd&#39;s webconsole allows you to check the tunnels&#39; creation (<code>127.0.0.1:7070</code> &gt; <code>I2P tunnels</code> &gt; <code>Client Tunnels</code>).</p>
    <img src="./static/images/i2p_global_tunnels_webconsole.png" alt="Confirming the tunnels&#39; creation inside the i2pd&#39;s webconsole">
    <p>Note: the numerical IDs used here have to be unique; various error messages will be displayed if it&#39;s not the case.</p>
    <img src="./static/images/i2p_id_unique.png" alt="Unique ID error message">
    <p>We advise you to wait for awhile (between 20 to 30 minutes) for i2p to set the tunnels between the participants. By the way, the following feature allows just that.</p>
    <h3 id="casting-and-scheduling-the-vote">Casting and scheduling the vote</h3>
    <p>After setting up the i2p&#39;s configuration, you can choose your vote&#39;s value in a list based on the candidates you previously entered. You can also choose when the vote will start.</p>
    <p>Note: you need to agree on the starting date/time with the other participants beforehand as it&#39;s needed for the vote process to correctly start.</p>
    <h3 id="displaying-results">Displaying results</h3>
    <p>The results are automatically retrieved and displayed in the <code>Results</code> section as soon as possible. Please note that a vote can be lengthy; numerous data transmissions are required and doing so over i2p can be long. Eg, a 2 participants vote needs 5 to 10 minutes to end, a 3 participants vote between 10 and 20 minutes.</p>
    <img src="./static/images/results.png" alt="Results displayed">
    <p>If needed, you can stop the vote process by clicking on the <code>Stop the requests</code> button. After it, you&#39;ll need to restart the web server.</p>
    <h2 id="web-interface-importing-a-configuration">Web interface: importing a configuration</h2>
    <p>To speed up the vote process, it&#39;s possible to use the import function. For it, you need to follow a basic JSON format and copy/paste or upload it in the <code>Manual configuration</code> section.</p>
    <p>Note: this needs a previously set up i2p configuration. This feature is generally used to replay a vote with some already known participants.</p>
    <p>That being said, an configuration example is available by click the <code>Show an example</code> button.</p>
    <img src="./static/images/show_example_config.png" alt="Configuration example">
    <p>By correctly editing this one, and then copying/pasting it in the text area (or by uploading from a file), the whole vote process can be started. If the configuration follows the expected standard, you&#39;ll only need to wait for the results to be displayed in the relevant section.</p>
    <h2 id="web-interface-exporting-the-configuration">Web interface: exporting the configuration</h2>
    <p>To help with the replay of votes, an export feature is available below the import one.</p>
    <p>It enables you to extract in a reusable format the current configuration used in the web interface. This works either with the step-by-step or import-a-configuration mode. Which means you can use the detailed process via the interface once and then export a functional configuration to play a new vote later on, with the same participants.</p>
    <img src="./static/images/export_config.png" alt="Example of an exported configuration">
  </div>
</div>

{% endblock %}
