{% extends 'base.html' %}

{% block title %}YOVO - A decentralized, anonymous voting system{% endblock %}

{% block header %}
<header>
  <h1>YOVO</h1>
  </header>
{% endblock %}

{% block content %}

<div class="content">
  <ul class="nav-menu">
    <li><a class="force-link current-item" href="#candidates">Candidates</a></li>
    <li><a class="force-link" href="#i2p">I2P & friends</a></li>
    <li><a class="force-link" href="#casting">Casting the vote</a></li>
    <li><a class="force-link" href="#results">Results</a></li>
    <li><a class="force-link" href="#config">Manual configuration</a></li>
  </ul>

  <div class="sections">
    <section id="candidates" class="nav-section current-section">
      <h2>Candidates</h2>
      <p>What are the vote's choices?</p>

      <label for="candidate">Add a new candidate to the list</label>
      <input id="candidate" name="candidate" type="text" placeholder="Eg: Toto">
      <input id="addcandidate" type="button" name="Add" value="Add">

      <table class="hidden-table" id="candidates-table">
          <caption>The candidates' list</caption>
          <tbody>
            <tr>
              <th>Candidate</th>
              <th></th>
            </tr>
            <tr>
              <td><span class="candidate">Blank vote</span></td>
              <td class="cross cross-disabled"></td>
            </tr>
          </tbody>
      </table>

      <input id="subcandidates" type="submit" value="Submit candidate list">
    </section>


    <section id="i2p" class="nav-section">
      <h2>I2P & friends</h2>
      <p>Now is the perfect time for some network configuration!</p>

      <h3>Local configuration</h3>
      <label for="port">Starting port</label>
      <input id="port" name="port" type="number" min="1" max="65535" value="6000">

      <label for="partyid">Your ID</label>
      <input id="partyid" name="partyid" type="number" value="1">

      <input id="sublocali2p" type="submit" value="Submit the local configuration">


      <h3>Voters' configuration</h3>
      <label for="voteraddress">Add a new voter's address</label>
      <input id="voteraddress" name="voteraddress" type="text" placeholder="Eg: addr.base32.i2p">
      <label for="voterid">Add a new voter's ID</label>
      <input id="voterid" name="voterid" type="number" value="1" min="0">
      <input id="addvoter" type="button" name="Add" value="Add">

      <table class="hidden-table" id="i2p-table">
          <caption>The voters' list</caption>
          <tbody>
            <tr>
              <th>ID</th>
              <th>Address</th>
              <th></th>
            </tr>
          </tbody>
      </table>

      <input id="subvotersi2p" type="submit" value="Submit the voters' configuration">

    </section>

    <section id="casting" class="nav-section">
      <h2>Casting the vote</h2>

      <label for="votevalue">Choose your fighter</label>
      <select id="votevalue" name="votevalue">
        <option value="">--Please choose an option--</option>
      </select>

      <label for="timedate">When should the vote be casted? (default: now)</label>
      <input id="date" name="timedate" type="date">
      <input id="time" name="timedate" type="time">
      <p>Note: leave empty if you want to start now.</p>
      <input id="vote" type="submit" value="Vote">
    </section>


    <section id="results" class="nav-section">
        <h2>Results</h2>
        <p id="results-info">The results will appear here; please cast a vote and come back.</p>
        <p class="stoprequests">If you want to stop the infinite calls trying to retrieve the vote's results, click on the button bellow.</p>
        <input type="button" name="stoprequests" id="stoprequests" class="stoprequests" value="Stop the requests">
        <p class="stoprequests">Note: the vote takes a long time (around 10 minutes for only 2 voters)! Please be patient.</p>

        <table class="hidden-table" id="results-table">
            <caption>The vote's results</caption>
            <thead>
              <tr>
                <th>Candidate</th>
                <th>Number of votes</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    <section id="config" class="nav-section">
      <h2>Import a configuration</h2>
      <p>You can directly upload a JSON configuration or copy and paste its content in the following form.</p>

      <label for="confimportarea">Copy and paste the JSON:</label>
      <textarea type="textarea" name="confimportarea" id="confimportarea" class="conftextarea"></textarea>
      <label for="confimportfile">Submit your JSON config file:</label>
      <input type="file" name="confimportfile" id="confimportfile" value="">
      <div class="buttons-list">
        <input type="button" id="confexample" name="confexample" value="Sow an example">
        <input id="confimportsubmit" type="submit" value="Submit (starts the vote process)">
      </div>

      <h2>Export the current configuration</h2>
      <p>You can export the currently used configuration in JSON format.</p>
      <p>It's important to note that this configuration will be generated based on what your already entered on this page (not what is present on the file system).</p>

      <div class="buttons-list">
        <input type="button" id="confexportgen" name="confexportgen" value="Generate">
        <input type="button" id="confexportsave" name="confexportsave" value="Save to file">
        <input type="button" id="confexportcopy" name="confexportcopy" value="Copy to clipboard">
      </div>

      <textarea type="textarea" name="confexportarea" id="confexportarea"  class="conftextarea"></textarea>

    </section>
  </div>
</div>
{% endblock %}
