@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('../../../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'PoppinsBold';
  font-display: swap;
  src: url('../../../fonts/Poppins-Bold.ttf');
}

:root {
  /* Colors */
  --bg-color: #313131;
  --main-color: #974949;
  --medium-gray: #595959;
  --dark-gray: #68686812;
  --error-color: #FF5C5C;
  --success-color: #7FE48F;

  /* Fonts */
  --main-font: 'Poppins', sans-serif;
  --main-font-bold: 'PoppinsBold', sans-serif;

  /* Spacings */
  --minimal-space: 0.1rem;
  --quarter-space: 0.25rem;
  --half-space: 0.5rem;
  --base-space: 1rem;
  --base-half-space: 1.5rem;
  --double-space: 2rem;
  --triple-space: 3rem;

  --max-content-width: 58rem;
  --min-table-width: 20rem;
  --max-table-width: 40rem;
  /* Z positionning */
  --z-blackhole: 99999;
  --z-space:     9999;
  --z-cloud:     999;
  --z-bird:      99;
  --z-kite:      42;
  --z-tree:      9;
  --z-cat:       3;
  --z-grass:     1;
  --z-ground:    0;
  --z-worm:     -1;

  /* Borders */
  --small-border: 1px;
  --medium-border: 3px;
  --big-border: 5px;

  /* Box shadows */
  --popup-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
