@import 'utils/reset.css';
@import 'utils/a11y.css';
@import 'utils/variables.css';
@import 'forms.css';


body {
  background-color: var(--bg-color);
  color: white;
  font-family: var(--main-font);
}

/*
  Text
*/
h1 {
  font-size: var(--triple-space);
}
h1, h2 {
  letter-spacing: var(--quarter-space);
}
h3, h4 {
  letter-spacing: var(--minimal-space);
}
h1, h2, h3, h4 {
  font-family: var(--main-font-bold);
}

.error {
  color: var(--error-color);
}

.success {
  color: var(--success-color);
}

a, a:visited, .force-link {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-decoration-thickness: 2px;
}

.force-link {
  color: white;
}

/*
  Navigation
*/
nav ul,
.nav-menu {
  list-style: none;
}

nav ul li,
.nav-menu li {
  display: inline-block;
  padding: 0 var(--base-space);
}

nav ul li:first-of-type {
  padding-left: 0;
}

nav, header, .content {
  padding: 2vh var(--double-space);
}

/*
  Content
*/
.content {
  display: grid;
  justify-items: center;
}

.content-wrapper {
  display: grid;
  max-width: var(--max-content-width);
}

.content-wrapper ul, .content-wrapper ol {
  padding: var(--base-space) var(--double-space);
}

.content-wrapper img {
  margin: var(--base-space);
  border: 1px solid white;
  justify-self: center;
}

.content-wrapper h2, .content-wrapper h3 {
  padding: var(--base-space) 0;
}

.content-wrapper p {
  padding: var(--quarter-space) 0;
}

.nav-menu {
  text-align: center;
}

.sections {
  display: grid;
  min-height: 80vh;
}

.sections p {
  padding: var(--base-space) 0;
}

.nav-section {
  display: none;
  justify-content: center;
  align-content: center;
  margin: var(--triple-space); /* let it breathe. */
}

.nav-section h3 {
  padding-top: var(--base-space); /* sometimes some fresh air is needed */
}

.current-section {
  display: grid;
}

.current-item {
  text-decoration-thickness: var(--big-border);
}

.list-wrapper {
  display: none;
}

.display-list {
  display: initial;
}

.list {
  list-style: none;
  word-wrap: anywhere;
  max-width: var(--max-list-width);
}

.list li {
  line-height: var(--double-space);
  padding: 0 5%;
  position: relative;
}

.list li:nth-child(odd) {
    background-color: var(--medium-gray);
}

.list li.candidate {
  width: 90%;
  display: inline-block;
  padding: 1rem;
}


table {
  min-width: var(--min-table-width);
  max-width: var(--max-table-width);
  margin: auto;
  border-collapse: collapse;
}

th {
  text-align: left;
}

tr {
  border-bottom: var(--small-border) solid white;
  padding: var(--base-space);
}

td {
  text-align: left;
  padding: var(--base-space);
  word-wrap: anywhere;
}

caption {
  caption-side: bottom;
  padding-top: var(--base-space);
  font-style: italic;
}

.cross {
  background-color: var(--main-color);
  text-align: center;
  width: var(--triple-space);
  cursor: pointer;
  font-family: var(--main-font-bold);
}

.cross-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hidden-table {
  display: none;
}

.display-table {
  display: table;
}

#results-table tbody td:first-of-type {
  background-color: var(--main-color);
}

.stoprequests {
  display: none;
}

hr {
  width: 100%;
  color: white;
}


/*
  Popup
*/
.popup-wrapper {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
  padding: 20%;

  z-index: var(--z-worm);
  opacity: 0;
}


.display-popup {
  z-index: var(--z-cloud);
  opacity: 1;
}

.display-popup .popup {
  opacity: 1;
  transform: translateY(0);
}

.popup-wrapper:before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  opacity: 0.7;
  z-index: var(--z-cat);
}

.popup {
  position: relative;
  z-index: var(--z-tree);
  background: var(--bg-color);
  box-shadow: var(--popup-shadow);
  /* doubling the top padding so the cross does not override the content */
  padding: 4rem 5% var(--double-space) 5%;
  width: 65ch; /* yolo */
  text-align: justify;
  /* making sure we can scroll the error if it's too long to be displayed
  on the screen (which may be sad though)*/
  max-height: 80vh;
  overflow-y: auto;

  opacity: 0;
  transform: translateY(var(--half-space));
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.2s;
  transition-timing-function: ease-in-out;
}

.popup-cross, .popup-status {
  position: absolute;
  top: 0;
  font-family: var(--main-font-bold);
  font-size: var(--base-half-space);
  padding: var(--base-space) 5%;
}

.popup-status {
  left: 0;
}

.popup-cross {
  right: 0;
  cursor: pointer;
}
