label {
  padding: var(--base-space) 0 0 var(--base-space);
}

input, textarea, button {
  line-height: var(--base-space);
  border:none;
  border-bottom: var(--small-border) solid var(--main-color);
  border-radius: var(--medium-border);
  background-color: var(--bg-color);
  padding: var(--base-space);
  margin: 0 var(--base-space) var(--base-space) var(--base-space);
  color: white;
}

input:focus {
  border-bottom: var(--medium-border) solid var(--main-color);
  background-color: var(--dark-gray);
}

input[type="submit"], input[type="button"], button {
  border: none;
  background-color: var(--main-color);
  margin: var(--base-space) auto var(--base-space) auto; /* centering */
}

input[type="file"] {
  border: none;
}

.conftextarea {
  min-height: 40vh;
  background-color: var(--dark-gray);
  margin-top: var(--base-space);;
}

input[type="submit"] {
  border: 0.5px solid white;
}

select {
  background-color: var(--main-color);
  color: white;
  padding: var(--minimal-space);
  margin: var(--base-space);
  border: none;
}

select option {
  color: white; /* forcing the color */
}

.buttons-list {
  margin: auto;
}

.buttons-list input {
  margin-right: var(--base-space);
  margin-left: var(--base-space);
}
