<style type="text/css">
  table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    background-color: #909090;
    color: #fff;
  }
</style>
<table>
  <tr>
    <th>Scénario 1</th>
    <th>Votant curieux</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Lors du déroulement du vote, un utilisateur tente d’acquérir des résultats intermédiaires. Ceci en utilisant des outils sur son poste, ou en modifiant le logiciel fourni.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Acquisition de résultats intermédiaires</li>
        <li>Influencer le vote</li>
        <li>Levée d’anonymat potentiel</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Si découvert annulation du vote.</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 2</th>
    <th>Coercion</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un acteur, votant ou externe, fait pression sur un votant pour lui imposer un choix de vote. Celui-ci demande une preuve de vote à sa victime (photo, vidéo, etc).</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Vote faussé, manipulé</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Système de vote résilient, pouvoir déposer de “faux” bulletins pour tromper l’adversaire</li>
        <li>Système d’alerte pour annuler le vote</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 3</th>
    <th>Sniffing réseau</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un acteur a identifié les échanges des votants sur le réseau et tente récupérer le vote des différents votants en capturant les paquets.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Anonymat du vote</li>
        <li>Confidentialité du vote</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Chiffrement robuste des communications entre les postes des votants</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 4</th>
    <th>Obtention du résultat par un acteur tier</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un acteur souhaite connaître le résultat du vote mais ne fait pas partie de l’organisation effectuant le vote elle tente alors en récupérant l’ensemble des communications des votants puis de reproduire les calculs pour obtenir le résultat du vote.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Secret du résultat du scrutin pouvant mener à des actions défavorables au groupe organisateur</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Au moins une partie des éléments permettant de découvrir le résultat final ne doivent jamais circuler sur le réseau</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 5</th>
    <th>Bourrage d'urne</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un votant souhaite influencer le scrutin à son avantage et tente donc de voter à plusieurs reprises.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Fiabilité du vote</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>YOVO</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 6</th>
    <th>Annulation du vote à répétition</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un votant fait remonter une anomalie factice pour annuler le vote, ceci pour en empêcher le bon déroulement.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Déni de service</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Exclusion du votant malveillant</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 7</th>
    <th>Coupure électrique</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un votant souhaite participer au vote mais une coupure d’électricité survient et il est en incapacité d'émettre son vote.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Pas de vote émis</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Aucune (technique)</li>
        <li>Remédiation par décision des utilisateurs sur l’impact de cette absence</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 8</th>
    <th>Absence lors du vote</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un votant oublie de voter avant la fin du scrutin.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Pas de vote émis</li>
        <li>Abstention</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Aucune</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 9</th>
    <th>Procuration</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un votant prévoit de ne pas être disponible pour le vote et souhaite le faire par procuration via un autre membre de l’organisation.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Partage d’identifiant entre utilisateurs</li>
        <li>Potentielle fuite de donnée</li>
        <li>Nécessité de re-générer les identifiants après le vote</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Offrir un système d’identifiants à usage unique pour un utilisateur</li>
        <li>Offrir la possibilité à un utilisateur de créer et invalider des identifiants dont il aura le seul control de création et invalidation</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 10</th>
    <th>Fuite de donnée</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Un utilisateur s’aperçoit que ses identifiants ont fuité et risquent d’être utilisés dans le cadre d’un vote pour usurper son identité et voter à sa place.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Usurpation d’identité</li>
        <li>Fiabilité du vote</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Permettre d'éjecter un utilisateur de la liste des votants ou de regénérer ses identifiants</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 11</th>
    <th>Compromission d’un terminal de vote V1</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Au cours d’un vote, un acteur hostile pénètre sur l’un des terminal de vote et récupère toutes les informations transitant sur le terminal. Il n’empêche cependant pas l’utilisateur légitime de voter et n’interfère pas dans le processus de vote.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Violation d'anonymat</li>
        <li>Confidentialité du vote</li>
        <li>Coercion</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Ne pas permettre d’identifier les utilisateurs par des informations sortant du poste</li>
        <li>Rendre impossible à partir d’un seul terminal de découvrir les résultats intermédiaires</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 12</th>
    <th>Compromission d’un terminal de vote V2</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Au cours d’un vote, un acteur hostile pénètre et  tente d’altérer le bulletin émis en interceptant l’original et en le remplaçant par un bulletin créer par lui-même à partir des informations à sa disposition.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Fiabilité du vote</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Rendre impossible la création d’un bulletin valide sans la connaissance d’identifiant utilisateur</li>
        <li>Détecter tout bulletin non-conforme et alerter les utilisateurs</li>
      </ul>
    </td>
  </tr>
</table>
<br/>

<table>
  <tr>
    <th>Scénario 13</th>
    <th>Perte de la méthode d’authentification</th>
  </tr>
  <tr>
    <td><strong>Énoncé</strong></td>
    <td>Une fois le vote lancé, un des votants n’a plus accès à sa clé privée, lui interdisant donc d'accéder au vote.</td>
  </tr>
  <tr>
    <td><strong>Impact</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Votant dans l’impossibilité d'émettre son avis</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Remédiation</strong></td>
    <td>
      <ul style="margin-bottom: 0px">
        <li>Possibilité d’accepter un nouveau votant une fois le vote lancé ?</li>
      </ul>
    </td>
  </tr>
</table>
<br/>
